{%extends 'theme.html'%}
{% block content %}
     
     <h1>Tenent Information</h1>
     <table border="1">
     <tr>
         <td>1</td>
         <td> Darshan chaudhari </td>
         <td>216548754564</td>
         <td>90</td>
         <td>25</td>
        
         
     </tr>
     <tr>
         <td>2</td>
         <td> Aditya Kundale </td>
         <td>357843487</td>
         <td>88</td>
         <td>25</td>
        
     </tr>
     <tr>
             
         <td>3</td>
         <td> Akshay Mane</td>
         <td>6687864534</td>
         <td>90</td>
         <td>20</td>
         
     </tr>
     <tr>
     
         <td>4</td>
         <td> Manthan More </td>
         <td>89765435456</td>
         <td>92</td>
         <td>19</td>
         
     </tr>
  </table>       
     
        
        
{% endblock %}   