{%extends 'theme.html'%}
{% block content %}
    <h3>Home page</h3>
    <p> 1. Loading for 3/4/6 students on a shairing basis in hostel rooms.<br>
        2. Reasonable furniture for primary needs of students as decided by the management.<br>
        3. Boarding facilities comprising of two meals a day and Milk / breakfast strictly in accordance with Swetamber Jain rules.
          ( MEALS BEFORE SUNSET IS COMPULSARY)<br>
        4. Jinalaya for daily Jin Pooja (THIS IS COMPULSORY)<br>
        5. Help in learning fundamentals of Jainism aided by prescribed course.<br>
        6. Library and /or Reading room facilities.<br>
        7. Promotion of extracurricular activities including sports,elocution competition,essay.  <br>
         
         
         </p>
    <img src="../static/sample3.jpg"/>
{% endblock %}